.sales-page {
  color: gold;
  font-family: Arial, sans-serif;
  padding: 30px;
  background-color: #000;
  margin-top: -20px;
}

.sales-section1 {
  background-color: #111;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid gold;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
}

.sales-section1 h2 {
  font-size: 22px;
  margin-bottom: 15px;
  border-bottom: 2px solid gold;
  padding-bottom: 5px;
}

.category-buttons {
  display: flex;
  gap: 15px;
}

.category-buttons button {
  padding: 10px 20px;
  background: none;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.category-buttons button:hover {
  border-color: gold;
  color: gold;
}

.category-buttons .active {
  background-color: black;
  color: black;
  border: 2px solid gold;
}

.sales-section2 {
  background-color: #111;
  padding: 25px;
  border-radius: 12px;
  border: 1px solid gold;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.2);
}

.sales-section2 h2 {
  font-size: 22px;
  margin-bottom: 15px;
  border-bottom: 2px solid gold;
  padding-bottom: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}

th, td {
  padding: 10px;
  border: 1px solid gold;
  text-align: center;
}

th {
  background-color: #222;
  color: gold;
  font-weight: bold;
}

td input {
  width: 100%;
  padding: 8px;
  background-color: transparent;
  color: white;
  font-size: 14px;
  border: transparent;
}

.sales-section3 {
  text-align: center;
  margin-top: 30px;
}

.update-sales-btn {
  padding: 14px 30px;
  background: none;
  border: 2px solid gold;
  color: gold;
  font-weight: bold;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.update-sales-btn:hover {
  background-color: gold;
  color: black;
}

.popup-card, .popup-confirm-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #111;
  color: gold;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(255, 215, 0, 0.3);
  z-index: 1000;
  text-align: center;
  max-width: 90%;
  width: 350px;
}

.popup-actions {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.popup-actions button {
  padding: 10px 20px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 14px;
  transition: 0.3s;
}

.popup-actions button:first-child {
  background-color: gold;
  color: black;
}

.popup-actions button:last-child {
  background-color: #444;
  color: white;
}

.popup-actions button:last-child:hover {
  background-color: #666;
}
